body {
  background-color: aqua;
}
#main-content {
  margin: 13vh 0rem;
  height: 70vh;
  background: #00afb9;
  border-radius: 1.5rem;
}

.addBtn {
  background-color: #fcbf49;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 700;
  height: auto;
  width: 10rem;
  margin-top: 8%;
}
.btn:focus {
  box-shadow: none !important;
}
.dbox {
  font-weight: 700;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  background-color: white;
  border: 5px solid white;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.dboxt {
  margin-bottom: 1rem;
}
.dboxp {
  font-size: 1.7rem;
}
.dboxt,
.dboxc {
  font-size: 1.4rem;
  font-weight: 700;
}
.removeBtn {
  background-color: #00afb9;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .dboxc {
    margin-left: -2rem;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
