.container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}

h1 {
    color:crimson;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: dashed 5px chartreuse;
    width: 300px;
    height: 300px;
    background-color:black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color:rgb(0, 4, 236);
}

.invader {
    background-color: blueviolet;
    border-radius: 70%;
}

.boom {
    background-color:rgb(255, 238, 4);
}

.laser {
    background-color:rgb(255, 0, 0);
    height: 5px;
    width: 5px;
}